wsdl/ManufacturingService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.manufacturing.autoinc.com/ManufacturingService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ManufacturingService" targetNamespace="http://service.manufacturing.autoinc.com/ManufacturingService/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://service.manufacturing.autoinc.com/ManufacturingService/">
      <xsd:element name="createProducts">
        <xsd:complexType>
          <xsd:sequence>

          	<xsd:element name="productSpecid" type="xsd:int" />
          	<xsd:element name="warehouseid" type="xsd:int"></xsd:element>
          	<xsd:element name="quantity" type="xsd:int"></xsd:element>

          	<xsd:element name="customerid" type="xsd:string"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="createProductsResponse">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="isCreated" type="xsd:boolean" />
          	<xsd:element name="customerid" type="xsd:string"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="createProductsRequest">
    <wsdl:part element="tns:createProducts" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="createProductsResponse">
    <wsdl:part element="tns:createProductsResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="ManufacturingService">
    <wsdl:operation name="createProducts">
      <wsdl:input message="tns:createProductsRequest"/>
      <wsdl:output message="tns:createProductsResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ManufacturingServiceSOAP" type="tns:ManufacturingService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="createProducts">
      <soap:operation soapAction="http://service.manufacturing.autoinc.com/ManufacturingService/createProducts"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ManufacturingService">
    <wsdl:port binding="tns:ManufacturingServiceSOAP" name="ManufacturingServiceSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
